@font-face {
  font-family: "Wind";
  font-weight: 500;
  src: url("../public/static/fonts/TmoneyRoundWindRegular.ttf")
    format("opentype");
}

@font-face {
  font-family: "Wind";
  font-weight: 700;
  src: url("../public/static/fonts/TmoneyRoundWindExtraBold.ttf")
    format("opentype");
}

html,
body {
  background-image: url(/mainBackground.jpg);
  padding: 0;
  margin: 0;
  font-family: Wind;
}

a {
  all: unset;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
